// Border Mixin

@mixin border(
  $args: null
) {
  $color: null;
  $style: solid;
  $width: 1px;
  $directions: (); // empty list

  $border-styles: (
    dashed,
    dotted,
    double,
    groove,
    inset,
    outset,
    ridge,
    solid,
  );

  $border-directions: (
    top,
    right,
    bottom,
    left
  );

  @each $i in $args {
    @if type-of($i) == color {
      $color: $i;
    }
    @else if type-of($i) == string {
      @each $border-direction in $border-directions {
        @if $i == $border-direction  {
          $directions: append($directions, $i);
        }
      }
      @each $border-style in $border-styles {
        @if $i == $border-style  {
          $style : $i;
        }
      }
    }
    @else if type-of($i) == number {
      @if unit($i) == px or unit($i) == em or unit($i) == rem {
        $width: $i;
      }
    }
  }

  @if length($directions) == 0 {
    border: $width $style $color;
  } @else {
    @each $direction in $directions {
      border-#{$direction}: $width $style $color;
    }
  }
}
