// Base

$colors-base: map-colors((
  lightest: #fff,
  darkest: lighten(#000, 9.5%),
  grey: (
    00: lighten(#000, 90%),
    10: lighten(#000, 80%),
    20: lighten(#000, 70%),
    30: lighten(#000, 60%),
    40: lighten(#000, 50%),
    50: lighten(#000, 40%),
    60: lighten(#000, 30%),
    70: lighten(#000, 20%),
    80: lighten(#000, 15%),
    90: lighten(#000, 10%)
  )
));

// Theme

$colors-theme: map-colors((
  theme: (
    00: pink,
  )
));

// Base elements

$colors-elements: map-colors((
  page: (
    base: color(lightest),
    text: (
      base: color(darkest),
      reverse: color(lightest)
    )
  ),
  link: (
    base: color(darkest),
    hover: color(grey, 80),
    visited: color(grey, 70)
  )
));

// Headings

$colors-headings: map-colors((
  heading: (
    text-shadow: color(theme, 00)
  )
));

// Icons

$colors-icons: map-colors((
  icon: (
    hamburger: (
      base: color(darkest),
      active: color(lightest)
    )
  )
));

// Nav

$colors-nav: map-colors((
  nav: (
    primary: (
      base: color(darkest),
      link: color(lightest)
    )
  )
));
