<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>{{ site.title }} {{ site.description }} - {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/{{ site.name }}.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>window.Modernizr || document.write('<script src="/js/modernizr.min.js">\x3C/script>')</script>
  </head>
  {% include categories.html %}
  {% include tags.html %}
  <body class="{{ categories }} {{ tags }}">
    {% include svg-defs.html %}
    {% include nav-primary.html %}
    <div class="wrap_outer">
      <div class="wrap_inner">
