.icon {
  transition: fill $global-transition-duration ease;

  &-hamburger {
    fill: color(icon, hamburger);
    height: 30px;
    width: 30px;

    .js-nav-primary--is-active & {
      fill: color(icon, hamburger, active);
    }
  }
}
