.nav {
  margin: 0;

  &--primary {
    background-color: color(nav, primary);
    height: 100%;
    left: 0;
    padding-top: ms(4);
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform $global-transition-duration ease;
    width: 50vw;

    @media (min-width: 720px) {
      width: 25vw;
    }

    &.js-nav-primary--is-active {
      transform: translateX(0);
    }
  }

  &_icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    transform: translate(calc(50vw + #{$global-padding}), $global-padding);
    transition: transform $global-transition-duration ease;

    @media (min-width: 720px) {
      transform: translate(calc(25vw + #{$global-padding}), $global-padding);
    }

    .js-nav-primary--is-active & {
      transform: translate($global-padding, $global-padding);
    }
  }

  &_item {
    opacity: 0;
    visibility: hidden;
    transition: opacity ($global-transition-duration * 4) ease;

    .js-nav-primary--is-active & {
      opacity: 1;
      visibility: visible;
    }
  }

  &_link {
    display: block;
    padding: $global-padding / 4 $global-padding / 2 $global-padding / 4 $global-padding;

    &,
    &:visited {
      color: color(nav, primary, link);
    }
  }
}

