a {
  color: $color-link;
  text-decoration: underline;
  transition: color $global-transition-duration ease;

  &:hover {
    color: $color-link--hover;
  }

  &:visited {
    color: $color-link--visited;
  }
}
