@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

h1 {
  font-size: ms(5);
  line-height: ms(5);
  margin-bottom: ms(4);
}

h2 {
  font-size: ms(4);
  line-height: ms(4);
  margin-bottom: ms(3);
  text-shadow: 1px 1px 0 pink;
}

h3 {
  font-size: ms(3);
  line-height: ms(3);
  margin-bottom: ms(2);
}

h4 {
  font-size: ms(2);
  line-height: ms(2);
  margin-bottom: ms(1);
}

h5 {
  font-size: ms(1);
  line-height: ms(1);
  margin-bottom: ms(0);
}

h6 {
  font-size: ms(0);
  line-height: ms(0);
  margin-bottom: ms(0);
}
