// Headings Base

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

h1 {
  font-size: $global-heading-font-size;
  line-height: $global-heading-line-height * 1.1;
  margin-bottom: $global-heading-margin-bottom;
}

h2 {
  font-size: $global-heading-font-size / 1.1875;
  line-height: $global-heading-line-height;
  margin-bottom: $global-heading-margin-bottom / 1.1875;
}

h3 {
  font-size: $global-heading-font-size / 1.5833;
  line-height: $global-heading-line-height;
  margin-bottom: $global-heading-margin-bottom / 1.5833;
}

h4 {
  font-size: $global-heading-font-size / 2.111;
  line-height: $global-heading-line-height;
  margin-bottom: $global-heading-margin-bottom / 2.111;;
}

h5 {
  font-size: $global-heading-font-size / 2.375;
  line-height: $global-heading-line-height;
  margin-bottom: $global-heading-margin-bottom / 2.375;;
}

h6 {
  font-size: $global-heading-font-size / 2.5333;
  line-height: $global-heading-line-height;
  margin-bottom: $global-heading-margin-bottom / 2.5333;
}
