.box {
  padding: 20px;
  width: 100%; }






@font-face {
  font-family: 'Inconsolata';
  font-style: 'normal';
  font-weight: 400;
  src: local(Inconsolata), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v7/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff'); }

@font-face {
  font-family: 'Inconsolata';
  font-style: 'normal';
  font-weight: 700;
  src: local(Inconsolata), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v7/AIed271kqQlcIRSOnQH0yRbnBKKEOwRKgsHDreGcocg.woff) format('woff'); }

@font-face {
  font-family: 'Merriweather';
  font-style: 'normal';
  font-weight: 300;
  src: local(Merriweather), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/ZvcMqxEwPfh2qDWBPxn6nmB7wJ9CoPCp9n30ZBThZ1I.woff) format('woff'); }

@font-face {
  font-family: 'Merriweather';
  font-style: 'normal';
  font-weight: 400;
  src: local(Merriweather), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff'); }

@font-face {
  font-family: 'Merriweather';
  font-style: 'normal';
  font-weight: 700;
  src: local(Merriweather), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/ZvcMqxEwPfh2qDWBPxn6nhAPw1J91axKNXP_-QX9CC8.woff) format('woff'); }

@font-face {
  font-family: 'Merriweather';
  font-style: 'normal';
  font-weight: 900;
  src: local(Merriweather), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/ZvcMqxEwPfh2qDWBPxn6nrsSoz0gOrwseB_671fuXgU.woff) format('woff'); }

@font-face {
  font-family: 'Merriweather';
  font-style: 'http://themes.googleusercontent.com/static/fonts/merriweather/v6/So5lHxHT37p2SS4-t60SlL52ooqJRs02xO3mONBoqeI.woff';
  font-weight: italic;
  src: local(Merriweather), url(400) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: 'normal';
  font-weight: 100;
  src: local(Roboto), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: 'normal';
  font-weight: 300;
  src: local(Roboto), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: 'normal';
  font-weight: 400;
  src: local(Roboto), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: 'normal';
  font-weight: 700;
  src: local(Roboto), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: 'normal';
  font-weight: 900;
  src: local(Roboto), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: 'italic';
  font-weight: 300;
  src: local(Roboto), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/7m8l7TlFO-S3VkhHuR0at7rIa-7acMAeDBVuclsi6Gc.woff) format('woff'); }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem; }

a {
  color: #111;
  text-decoration: none; }
  a:hover {
    color: #b7b7b7; }

ul, ol, dl {
  margin-top: 0;
  padding: 0; }

li {
  list-style: none; }

